<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<mapping class="edu.lsnu.domain.AdminUser" />
	<mapping class="edu.lsnu.domain.Student" />
	<mapping class="edu.lsnu.domain.TrainingBase" />
	<mapping class="edu.lsnu.domain.TrainingItem" />
	<mapping class="edu.lsnu.domain.Menu" />
	<mapping class="edu.lsnu.domain.Role" />
	<mapping class="edu.lsnu.domain.BasicSettings" />
	<mapping class="edu.lsnu.domain.FreeTrainingBase" />

</session-factory>
</hibernate-configuration>